body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    
}
header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: indianred;
    text-decoration-color: blanchedalmond;
    margin-top: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white; 
    
}
nav li{
    margin-left: 20px;
}
a:hover{
    color: blue;
}
.logo img{
    width:60%;
    height: 60%   
}
